html,
body {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  --color-red: #db202d;
  --color-green: #0ab396;
  --color-blue: #1f376b;
  --color-yellow: #eca821;
  --color-yellow-v2: #eee200;
  --color-green-v2: #10d700;
  --color-purple: #3d3190;
  --color-purple-v2: #b100ad;
  --color-text: #414042;
  --color-neutral: #dcdcdc;
  --color-white: white;
  --color-black: black;
}

@font-face {
  font-family: SFU Futura_07;
  src: url("/fonts/SFUFutura_07.woff2") format("woff2");
  font-weight: bold;
  font-display: auto;
}

@font-face {
  font-family: SFU Futura_03;
  src: url("/fonts/SFUFutura_03.woff2") format("woff2");
  font-weight: normal;
  font-display: auto;
}
